<div class="navColour">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div></div>
      <div class="container">
        <ul class="navbar-nav">
          <li>
            <!-- *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" -->
            <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome" class="nav-link">Home</a>
          </li>
          <li>
            <!-- *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" -->
            <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/feedpage" class="nav-link">Feeds</a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
          <!-- *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" -->
          <a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
        </li>
        <li>
          <!-- *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" -->
          <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()"routerLink="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
