<br />
<br />
      <div class="container">
        First Name : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<input type="text" name="firstname"  />
        <br />
        <br />
        Last Name : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<input type="text" name="lastname"  />
        <br />
        <br />
        Password :&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="password" name="password"  />
        <br />
        <br />
        Conform password : &nbsp; &nbsp;<input type="password" name="conformpassword"  />
        <br />
        <br />
        DOB : &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<input type="text" name="dob"  />
        <br />
        <br />
       

      </div>

