<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/9068019561.js"></script>

  <title>FeedPage</title>
</head>

<body>
  <div class="container">
    <div class="gridd">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Explore</a>
          </li>
          <li>
            <a href="#">Messages</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
        </ul>
      </div>
      <div>
        <p>Tweet Feed</p>
      </div>
      <div>
        <a href ="#"> Trending News</a>
      </div>
    </div>
  </div>


</body>

</html>