  <div class="container">
    <div class="gridd">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Explore</a>
          </li>
          <li>
            <a href="#">Messages</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
        </ul>
      </div>

     <!--tweet feed-->

      <section class="tweetfc">
        <section class=" tweetbox">
         <p>Tweet Feed</p>
          <textarea class="textbox" rows="15" cols="12" name="Tweet"></textarea>
        </section>
        <div class="feed">
          <p>fgh</p>
          <p>fgh</p>
        </div>
      </section>
      <div>
        <a href="#"> Trending News</a>
      </div>
    </div>
  </div>
