<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

<div class="bodys">
  <div class="container">
    <div class="gridd">
      <div class="sidebar">
        <ul>
          <li>
            <button class="btn btn1">Home</button>
          </li>
          <li>
              <button class="btn btn1">Explore</button>
          </li>
          <li>
              <button class="btn btn1">Messages</button>
          </li>
          <li>
              <button class="btn btn1">Profile</button>
          </li>
        </ul>
      </div>

      <!--tweet feed-->

      <section class="tweetfc">
        <section class=" tweetbox">
          <p>Tweet Box</p>
          <textarea class="textbox" rows="15" cols="70" name="Tweet"></textarea>
        </section>
        <div class="feed">
          <p>fgh</p>
          <p>fgh</p>
        </div>
      </section>
      <div>
        <a href="#"> Trending News</a>
      </div>
    </div>
  </div>
</div>